[submodule "CausalInferenceChallenges"]
	path = CausalInferenceChallenges
	url = https://github.com/realseanla/CausalInferenceChallenges.git
[submodule "causal-bert-pytorch"]
	path = causal-bert-pytorch
	url = https://github.com/realseanla/causal-bert-pytorch.git
